.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding: 15px 0px 25px 0px;
}

.navbar-mobile-logocontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar-mobile-logocontainer {
    display: none;
  }
}

.navbar-largecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .navbar-largecontainer {
    display: none;
  }
}

.website-logo {
  width: 90px;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 125px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .nav-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navmenu-item {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}

.nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logout-desktopbtn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 42px 12px 42px;
}

.navbar-mobile-iconscontainer {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navitem-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navitem-mobile-link {
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
}
